@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

.hover-show-parent {
}

.hover-show-parent .hover-show-child {
  visibility: hidden;
}

.hover-show-parent:hover .hover-show-child {
  visibility: visible;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes popOut {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
}

.animate-pop-in {
  animation: popIn 0.2s ease-out;
}

.animate-pop-out {
  animation: popOut 0.2s ease-out;
}

.primary-btn {
  @apply bg-black text-white w-24 py-1 rounded-lg;
}

.alter-btn {
  @apply bg-gray-300 text-rose-500 w-24 h-10 rounded-lg;
}
