@tailwind base;
@tailwind components;
@tailwind utilities;

input.autofill-modify:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input.autofill-modify:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

.hover-show-parent {
}

.hover-show-parent .hover-show-child {
  visibility: hidden;
}

.hover-show-parent:hover .hover-show-child {
  visibility: visible;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes popOut {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
}

.animate-pop-in {
  animation: popIn 0.2s ease-out;
}

.animate-pop-out {
  animation: popOut 0.2s ease-out;
}

.primary-btn {
  @apply bg-black text-white rounded-lg;
}

.alter-btn {
  @apply bg-gray-300 text-rose-500 rounded-lg;
}

.wait-btn {
  @apply bg-gray-500 text-white rounded-lg flex justify-center items-center space-x-1;
}

.wait-btn .wait-btn-indicator {
  @apply my-auto h-3/5 aspect-square ml-1;
}

.common-input {
  @apply w-full h-11 rounded-lg border-none ring-inset ring-2 ring-gray-200 focus:outline-none focus:border-transparent focus:ring-inset focus:ring-2 focus:ring-gray-400;
}

.common-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 2px rgb(229 231 235) inset, 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

.common-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(156 163 175) inset, 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}
